.header {
    width: 100%;
}

.titleH1 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.subTitleH3 {
    text-align: center;
}

.fussTrainTraffic {
    height : 70px;
}

.fussTrainTraffic span {
    position: fixed;
    margin: 10px;
}